// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, #app {
  min-height: 100vh;
  margin: 0;
}

header {
  min-height: 50px;
}

footer {
  min-height: 50px;
}

#app {
  display: flex;
  flex-direction: column;
}

.form-row {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1;
}
